body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../img/Drei-Mythen-der-künstlichen-Intelligenz-im-Kontext-der-Cybersecurity.jpg");
  background-repeat: no-repeat;
}

.présentation {
  width: 50%;
  height: 50%;
  background-color: white;
  border-radius: 20px;
  font-size: bold;
  text-align: center;
  border: 2px solid black;
  padding: 50px 15px;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0 400px 0;
}

aside {
  background-color: white;
}

#text {
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  height: 150px;
}

footer figure {
  display: flex;
  justify-content: center;
}

footer img {
  width: 80px;
  height: auto;
  padding: 10px;
}

#mention {
  text-align: center;
}

aside {
  width: 30%;
  border: 2px black solid;
}

.icone {
  width: 50px;
  height: 50px;
}

#titre {
  font-size: 60px;
  text-align: center;
}

#divavatar {
  text-align: center;
}

#avatar {
  width: 50%;
}

#coordonees {
  margin: 30px;
}

.coordonees1 {
  margin: 10px 0;
}

span {
  font-size: 20px;
}
