body {
    box-sizing: border-box;
    margin: 0;
}

aside {
    width: 30%;
    border : 2px black solid;
}

.icone {
    width: 50px;
    height: 50px;
}

p {
    font-size: 60px;
    text-align: center;
}

#divavatar {
    text-align: center;
}

#avatar {
    width: 50%;
}

#coordonees {
    margin : 30px;
}

.coordonees1 {
    margin : 10px 0;
}

span {
    font-size: 20px;
}